.App {
  background-color: rgba(0,0,0,0.02);
}

header {
  background-color: black;
  color: white;
  height: 70px;
  margin-bottom: 1em;
}

header #header {
  font-size: 24pt;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
  padding-top: 12px;
}

footer a {
  color: orange;
}

footer a:hover {
  color: black;
}

.text-orange {
  color: orange;
}

.row {
  margin-bottom: 1em;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-zero {
  margin: 0;
}

.nav-tabs {
  margin-bottom: 16px;
}

.nav-tabs a.nav-item.nav-link {
  color: black;
  font-weight: bold;
  font-style: italic;
}

.nav-tabs a.nav-item.nav-link.active {
  color: orange;
  font-weight: bold;
  font-style: italic;
}

.form-control-sm, .form-control-plaintext {
  height: calc(1.1em + .5rem + 2px);
  padding: 0rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  vertical-align: middle;
}

.team-table-1 td:nth-child(1) {
  width: 100px;
  white-space: nowrap;
}

.team-table-2 td:nth-child(1) {
  white-space: nowrap;
}

.team-table-2 td:nth-child(2) {
  width: 55px;
}

.team-table-2 td:nth-child(3) {
  text-align: center;
}

.team-table-2 td:nth-child(4) {
  width: 105px;
}

.team-table-2 td:nth-child(5) {
  width: 105px;
}

.budget-table td:nth-child(3) {
  width: 40px;
}

.budget-table button.btn-sm {
  height: calc(1.1em + .5rem + 2px);
  padding: 0rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  vertical-align: middle;
}

.player-table {
  line-height: normal;
}

.player-table thead tr th  {
  border-color: black;
  background-color: black;
  color: orange;
  font-weight: bold;
  font-style: italic;
}

.player-table tbody tr td {
  font-size: .875rem;
  padding: .2rem .3rem;
}

td.player-number {
  border-color: orange;
  background-color: orange;
  color: black;
  text-align: center;
  font-style: italic;
  width: 40px;
}

.player-table tbody tr td.player-name {
  padding: 0px;
  width: 200px;
}

.player-table tbody tr td.player-position {
  padding: 0px;
  width: 160px;
}

td.player-ma, td.player-st, td.player-ag, td.player-pa, td.player-av {
  text-align: center;
  width: 40px;
}

td.player-ma span, td.player-st span, td.player-ag span, td.player-pa span, td.player-av span {
  display: block;
}

td.player-skills div {
  min-height: 1.3em;
}

.cursor-pointor {
  cursor: pointer;
}

td.player-skills div span span {
  white-space: pre;
}

td.player-skills span.skill-default {

}

td.player-skills span.skill-primary {
  color: orange;
}

td.player-skills span.skill-secondary {
  color: orange;
}

td.player-skills span.skill-special {
  font-style: italic;
}

td.player-value {
  text-align: right;
  width: 95px;
}

.advancement-table th {
  border-color: black;
  text-align: center;
  padding: 2px;
  font-size: 11pt;
  background-color: black;
  color: orange;
  font-weight: bold;
  font-style: italic;
  width: 20%;
}

.advancement-table td {
  text-align: center;
  padding: 1px;
  font-size: 11pt;
}

.advancement-table .skill-available {
  display: block;
  cursor: pointer;
}

.advancement-table .skill-selected {
  display: block;
  cursor: pointer;
  background-color: orange;
}

footer .row .col {
  text-align: center;
  padding: 50px;
  font-size: .9rem;
}
